body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
}

.parent {
  display: flex;
  justify-content: space-around;
}

.children {
  width: 50%;
  background-color: white;
}

.choices {
  width: 400px;
  height: 200px;
  background-color: white;
  border: solid 2px black;
  border-radius: 10%;
  margin: 10px;
}

.end {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.next {
  width: 100px;
  height: 50px;
  background-color: white;
  border: solid 2px black;
  border-radius: 10%;
}